@import './base.css';
@import 'primeicons/primeicons.css';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Rubik', sans-serif;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 5px;
}
.btn {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  margin-bottom: 10px;
}
